* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	margin: 0;
	min-height: 100vh;
	background-color: cornsilk;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	font-family: Poppins, sans-serif;
}

.contact {
	min-height: 100vh;
	background-color:transparent;
	padding: 50px;
	padding-top: 50px;
	text-align: center;
}

.container {
	max-width: 800px;
	margin: 0 auto ;
}

.container h2 {
	font-size: 36px;
	margin-bottom: 40px;
	color: whitesmoke;
	display: inline-block;
	background-color: saddlebrown;
	padding: 10px;
	border-radius: 12px;
	margin-bottom: 50px;

}
.container h5 {
	font-size: 15px;
	margin-bottom: 20px;
	color: black;
}

.contact-wrapper {
	display:grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 30px;
}

.contact-form {
	text-align: left;
}

.contact-form h3 {
	font-size: 24px;
	margin-bottom: 20px;
	color: black;
}

.form-group {
	margin-bottom: 20px;
}

input, textarea {
	width: 100%;
	padding: 12px;
	border-radius: 8px;
	border: none;
	background-color: ghostwhite;
	color: lightpink;
}

input:focus
textarea:focus {
	outline: none;
	box-shadow: 0 0 8px #bbb;
}

button {
	display: inline-block;
	padding: 12px 24px;
	background-color: saddlebrown;
	color: lightslategrey;
	border: none;
	cursor: pointer;
}

.contact-info {
	text-align: left;
}

.contact-info h3 {
	font-size: 24px;
	margin-bottom: 20px;
	color: black;
}

.contact-info p {
	margin-bottom: 10px;
	color: black;
}

.contact-info i {
	color: darkslategrey;
	margin-right: 10px;
}
.social-links a {
	width: 50px;
	height: 50px;
	line-height: 30px;
	font-size: 14px;
	margin-right: 5px;
}
iframe {
	border-radius: 20px;
}

.footer {
    width: 100%;
    background: #3a1f17;
    color: white;
    margin-top: 60px;
    margin-left: -20px;
    margin-right: -20px;
    width: calc(100% + 40px);
}


.footer td {
    text-align: center;
    padding: 30px;
    color: white;
    font-size: 14px;
}
